<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <form class="form-signin" name="formLogin" novalidate data-ng-submit="LoginCtrl.checkLogin(formLogin.$valid)">

            <p class="text-danger text-center" data-ng-if="LoginCtrl.messageError"><strong>{{LoginCtrl.messageError}}</strong></p>
            <p class="text-success text-center" data-ng-if="LoginCtrl.messageSuccess"><strong>{{LoginCtrl.messageSuccess}}</strong></p>

            <div class="form-group" data-ng-class="{'has-error': LoginCtrl.formLogin.inputUsername.$invalid && (!LoginCtrl.formLogin.inputUsername.$pristine || LoginCtrl.submitted)}">
                <input class="form-control" type="text" id="inputUsername" name="inputUsername" placeholder="Username" required autofocus data-ng-model="LoginCtrl.username">
                <p class="text-danger" data-ng-if="LoginCtrl.formLogin.inputUsername.$invalid && (!LoginCtrl.formLogin.inputUsername.$pristine || LoginCtrl.submitted)">Username is required</p>
            </div>

            <div class="form-group" data-ng-class="{'has-error': LoginCtrl.formLogin.inputPassword.$invalid && (!LoginCtrl.formLogin.inputPassword.$pristine || LoginCtrl.submitted)}">
                <div class="form-addon">
                    <input class="form-control" type="{{LoginCtrl.typeInput}}" id="inputPassword" name="inputPassword" placeholder="Password" required data-ng-model="LoginCtrl.password">
                    <i class="addon glyphicon" data-ng-click="LoginCtrl.displayPassword()" data-ng-class="{'glyphicon-eye-close': LoginCtrl.isPassword, 'glyphicon-eye-open': !LoginCtrl.isPassword}"></i>
                </div>
                <p class="text-danger" data-ng-if="LoginCtrl.formLogin.inputPassword.$invalid && (!LoginCtrl.formLogin.inputPassword.$pristine || LoginCtrl.submitted)">Password is required</p>
            </div>

            <button class="btn btn-primary btn-block btn-signin" type="submit" ladda="LoginCtrl.loginLoading">Sign in</button>

            <div class="or-box">
                <span class="or">OR</span>
                <a href="#" class="btn btn-facebook btn-block" ng-click="LoginCtrl.authenticate('facebook')">Login with Facebook</a>
                <a href="#" class="btn btn-twitter btn-block">Login with Twitter</a>
                <a href="#" class="btn btn-google btn-block">Login with Google</a>
            </div>
        </form>
    </div>
</div>